<% was_validated = user_datum.errors.any? %>

<%= form_with(model: user_datum, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = user_datum.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <% if user_was_invalid %>
      <% user_datum.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_name_class = "form-control" %>
    <% user_name_was_invalid = user_datum.errors.include?(:user_name) %>

    <% if was_validated %>
      <% if user_name_was_invalid %>
        <% user_name_class << " is-invalid" %>
      <% else %>
        <% user_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_name %>
    <%= f.text_field :user_name, class: user_name_class, placeholder: "Enter user name" %>
    <% if user_name_was_invalid %>
      <% user_datum.errors.full_messages_for(:user_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_goal_class = "form-control" %>
    <% user_goal_was_invalid = user_datum.errors.include?(:user_goal) %>

    <% if was_validated %>
      <% if user_goal_was_invalid %>
        <% user_goal_class << " is-invalid" %>
      <% else %>
        <% user_goal_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_goal %>
    <%= f.text_field :user_goal, class: user_goal_class, placeholder: "Enter user goal" %>
    <% if user_goal_was_invalid %>
      <% user_datum.errors.full_messages_for(:user_goal).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% self_assessment_score_class = "form-control" %>
    <% self_assessment_score_was_invalid = user_datum.errors.include?(:self_assessment_score) %>

    <% if was_validated %>
      <% if self_assessment_score_was_invalid %>
        <% self_assessment_score_class << " is-invalid" %>
      <% else %>
        <% self_assessment_score_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :self_assessment_score %>
    <%= f.number_field :self_assessment_score, class: self_assessment_score_class, placeholder: "Enter self assessment score" %>
    <% if self_assessment_score_was_invalid %>
      <% user_datum.errors.full_messages_for(:self_assessment_score).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
